
@{
    ViewData["Title"] = "作業2更新";
}

<h1>作業2更新</h1>


<div class="d-flex">
    <form method="post" name="formUser" class="w-50">
        <div class="mb-3 w-75">
            <label for="Name" class="form-label">姓名</label>
            <input type="text" name="Name" id="Name" class="form-control" placeholder="請輸入姓名" />
            <div id="alert" class="mt-2"></div>          
        </div>
        <div class="mb-3 w-75">
            <label for="Email" class="form-label">Email</label>
            <input type="email" name="Email" id="Email" class="form-control" placeholder="name@example.com" />
        </div>
        <div class="mb-3 w-75">
            <label for="Age" class="form-label">年齡</label>
            <input type="text" name="Age" id="Age" class="form-control" placeholder="請輸入年齡" />
        </div>
        <div class="mb-3 w-75">
            <label for="fileForm" class="form-label">照片上傳</label>
            <input type="file" name="photo" id="photo" class="form-control" />
        </div>
        <div class="mb-3 w-75">
            <input id="btn2" type="button" value="送出" class="btn btn-primary mb-3" />
        </div>
    </form>

    <div class="w-50" id="div1">
        
    </div>
    <img id="img"/>
</div>

@section Scripts{
    <script>        
        const txtname=$("#Name");   //原來jQurey標籤選擇器有分大小寫
        const txtemail=$("#Email");
        const txtage=$("#Age");
        const photoRead=$("#photo");
        const sub = $('#btn2');
        const remind = $("#alert");
        const info = $("#div1");
        let result = "";
        $(txtname).on("blur", verify);
        $(sub).on("click", submit);

            function verify() {                    
            var formData = new FormData(document.formUser);
            $.ajax({
                url: `@Url.Content("~/HWAPI/Verf")`,
                type: "POST",               
                data: formData,
                dataType:"text",
                contentType: false, //required
                processData: false // required
            }).done(verfname)
        };
        function verfname(data){                 
                result =data;
                let thDIV = "";
                if (result === "null") {
                    thDIV = "<div class='alert-danger'>請輸入姓名</div>";
                }
                else if (result === "false") {
                    console.log(data)
                    thDIV = "<div class='alert-danger'>此姓名已有人</div>";
                }
                else if (result === "true") {
                    thDIV = "<div class='alert-success'>可以使用</div>";
                }
                else {
                    thDIV = "<div class='alert-danger'>發生錯誤</div>";
                }
                remind.html(thDIV);
            };

        function submit() {
           const formData = new FormData(document.formUser);
           //const fileRead= document.querySelector('#photo').files[0]
           //console.log(URL.createObjectURL(fileRead));
           //console.log(fileRead.size)
           //console.log((fileRead.size/1024).toFixed(2))
           //img.src = URL.createObjectURL(fileRead)
            $.ajax({
                url: `@Url.Content("~/HWAPI/Sub")`,
                type: "POST",               
                data: formData,
                dataType:"text",
                contentType: false, 
                processData: false 
            }).done((data) => { 
                let thResult = "";
                const name=txtname.val();
                const email=txtemail.val();
                const age=txtage.val();
               if(data==="null"){
                  thResult= "資料有誤或未填寫完畢";
               }
               else if(data==="nophoto"){
                      thResult=`<div class='card' style='width: 18rem;'>
                                    <div class='card-header'>請確認以下資料</div>
                                    <ul class="list-group list-group-flush">
                                       <li class=\"list-group-item\">姓名:${name}</li>
                                       <li class=\"list-group-item\">Email:${email}</li>
                                       <li class=\"list-group-item\">年齡:${age}</li>
                                     </ul>
                                 </div>`;
               }
               else if(data==="hasphoto"){
                       const photo=photoRead.files[0];
                       const photoname=photo.name;
                       const photosize=(photo.size/1024).toFixed(2);
                       thResult=`<div class='card' style='width: 18rem;'>
                                        <div class='card-header'>請確認以下資料</div>
                                        <ul class="list-group list-group-flush">
                                            <li class=\"list-group-item\">姓名:${name}</li>
                                            <li class=\"list-group-item\">Email:${email}</li>
                                            <li class=\"list-group-item\">年齡:${age}</li>
                                            <li class=\"list-group-item\">檔案名稱:${photoname}</li>
                                            <li class=\"list-group-item\">檔案大小:${photosize}KB</li>
                                         </ul>
                                     </div>`;
                       img.src = URL.createObjectURL(photo);
               }
               else{
                       thResult= "發生錯誤";
               }
               info.html(thResult);
            })
        };

    </script>
}
